/node_modules
/public/storage
/public/js/app.js
/public/css/app.css
/public/css/app.css.map
/resources/assets/js/components/my-canvas.vue
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/java-server
calvin_mcbride.txt
tbyacoub.txt
/java-server
