/node_modules
/resources/assets/js/components/my-canvas.vue
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/java-server
calvin_mcbride.txt
tbyacoub.txt
/java-server
/nbproject/private/
/.phpintel/
/nbproject/
