/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*!* CSS used here will be applied after bootstrap.css *!*/

/*.dropdown {*/
    /*display:inline-block;*/
    /*margin-left:20px;*/
    /*padding:10px;*/
/*}*/


/*.glyphicon-bell {*/

    /*font-size:1.5rem;*/
/*}*/

/*.notifications {*/
    /*min-width:420px;*/
/*}*/

/*.notifications-wrapper {*/
    /*overflow:auto;*/
    /*max-height:250px;*/
/*}*/

/*.menu-title {*/
    /*color:#ff7788;*/
    /*font-size:1.5rem;*/
    /*display:inline-block;*/
/*}*/

/*.glyphicon-circle-arrow-right {*/
    /*margin-left:10px;*/
/*}*/


/*.notification-heading, .notification-footer  {*/
    /*padding:2px 10px;*/
/*}*/


/*.dropdown-menu.divider {*/
    /*margin:5px 0;*/
/*}*/

/*.item-title {*/

    /*font-size:1.3rem;*/
    /*color:#000;*/

/*}*/

/*.notifications a.content {*/
    /*text-decoration:none;*/
    /*background:#ccc;*/

/*}*/

/*.notification-item {*/
    /*padding:10px;*/
    /*margin:5px;*/
    /*background:#ccc;*/
    /*border-radius:4px;*/
/*}*/

