#planet_overview_container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#planet_name_container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	
	color: white;
	font-size: 26px;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 2px rgb(100, 100, 100);
	
	background-color: #ffd777;
}

#planet_inline_container {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	margin-top: 10px;
	font-size: 0;
}

#planet_image_container {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	width: calc(50% - 5px);
	height: 100%;
	background-color: rgba(0, 0, 0, 1);
	padding-bottom: 25px;
}

#planet_info_container {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	width: calc(50% - 5px);
	height: 100%;
	margin-left: 10px;
	font-size: 16px;
}

#planet_image {
	margin: 0;
	padding: 0;
	width: calc(100% - 50px);
	height: auto;
	margin-left: 25px;
	margin-top: 25px;
}

.info_line_breaker {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 20px;
}

#solar_system_name, #solar_system_location, #planet_owner_name, #planet_radius, #planet_resources_header,
#planet_metal, #planet_crystal, #planet_energy {
	margin: 0;
	padidng: 0;
	width: 100%;
	height: 20px;
	
	color: black;
	line-height: 20px;
	text-align: left;
}

#attack_button_container, #colonize_button_container {
	margin: 0;
	padding: 0;
	width: 80px;
	height: 30px;
	background-color: rgb(231, 76, 60);
	opacity: 0.8;
	border-radius: 5px;
}

#attack_button_container:hover, #colonize_button_container:hover {
	opacity: 1;
}

#attack_link, #colonize_link {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	
	color: white;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
}

#attack_link:hover, #colonize_link:hover {
	cursor: pointer;
}

#colonize_button_container {
	background-color: rgb(52, 152, 219);
}